/* Color Design Tokens */
:root {
  --recess-black: #1b1b1b;
  --recess-white: #ffffff;
  --recess-gray: #929292;
  --recess-gray-light: #717171;
  --recess-gray-bg: #f1f0f0;
  --recess-gray-border: #e7e5e4;
  --recess-gray-light-bg: #f5f5f4;
  --recess-gray-light-bg-alt: #f1f4f0;
  --recess-green: #37eb4f;
  --recess-gray-3: #b4b4b4;
  --recess-gray-text: #4b5563;
  --recess-gray-dark: #302e2f;
}

.black { color: var(--recess-black); }
.white { color: var(--recess-white); }
.gray { color: var(--recess-gray); }
.grayLight { color: var(--recess-gray-light); }
.grayText { color: var(--recess-gray-text); }
.grayDark { color: var(--recess-gray-dark); }
.green { color: var(--recess-green); }

.bgBlack { background-color: var(--recess-black); }
.bgWhite { background-color: var(--recess-white); }
.bgGray { background-color: var(--recess-gray-bg); }
.bgGrayLight { background-color: var(--recess-gray-light-bg); }
.bgGrayLightAlt { background-color: var(--recess-gray-light-bg-alt); }
.bgGreen { background-color: var(--recess-green); }

.borderBlack { border-color: var(--recess-black); }
.borderGray { border-color: var(--recess-gray-border); }
.borderGrayDark { border-color: var(--recess-gray); }

