.dialogBody {
  min-width: min(100%, 31rem);
}

.description {
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-text-secondary);
  margin: var(--spacing-5);
}

.presetTimes {
  display: flex;
  gap: var(--spacing-3);
  margin-top: var(--spacing-5);
  > button {
    flex: 1 1 0;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}
