.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dialog {
  background: var(--color-background-primary);
  border-radius: var(--spacing-3);
  border: 2px solid var(--color-text-primary);
  padding: var(--spacing-6);
  min-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  margin: 0 0 var(--spacing-2) 0;
  color: var(--color-text-primary);
}

.description {
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-text-secondary);
  margin: var(--spacing-5);
}

.presetTimes {
  display: flex;
  gap: var(--spacing-3);
  margin-top: var(--spacing-5);
  > button {
    flex: 1 1 0;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}
