.energyCheckToolTip {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 16px;
  box-sizing: border-box;
  gap: 12px;
}

.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 5px;
}

.question {
  position: relative;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.32px;
  white-space: nowrap;
  color: var(--recess-black);
}

.emotionsContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 12px;
}

.emotionIcon {
  position: relative;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
}

.emotionIcon:hover {
  transform: scale(1.2);
}

.emotionVector {
  position: absolute;
  inset: 8.33%;
}

.emotionImage {
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
}
