.dialogContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.closeButton {
  position: absolute;
  top: -12px;
  right: -12px;
  cursor: pointer;
  z-index: 1;
}

.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
  padding-top: 8px;
}

.question {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  white-space: nowrap;
  color: var(--recess-black);
}

.emotionsContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.emotionIcon {
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
}

.emotionIcon:hover {
  transform: scale(1.2);
}

.emotionVector {
  position: absolute;
  inset: 8.33%;
}

.emotionImage {
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
}
