.mainLogoPng {
  position: relative;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  pointer-events: none;
}
