.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-5);
  width: 100%;
}

.tertiaryButtonsContainer {
  display: flex;
  margin-left: auto;
}

.closeButton {
  margin-left: auto;
}
