.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
}

.dateInput {
  display: flex;
  align-items: center;

  height: 2.5rem;
  width: 100%;

  padding: 0 0.75rem;

  border: 1px solid hsl(var(--border));
  border-radius: 0.375rem;

  background: hsl(var(--background));

  font-size: 0.875rem;

  transition: box-shadow 150ms;
}

.dateInput[data-focus-within] {
  box-shadow: 0 0 0 2px hsl(var(--ring));
}

.dateSegment {
  padding: 0.125rem;
  outline: none;
}
