.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 258px;
  height: 320px;
  margin: var(--spacing-3);
  padding: var(--spacing-3);
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--color-background-primary);
  border: 3px solid var(--color-text-primary);
  border-radius: var(--spacing-5);
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 12px 12px 6px 0px rgba(0, 0, 0, 0.25);
}

.footer {
  margin: 0;
  margin-top: auto;
  padding: 0;
  padding-top: var(--spacing-1);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  font-style: normal;
  line-height: var(--line-height-md);
  text-align: center;
  color: var(--color-text-primary);
}

.description {
  margin: 0;
  margin-top: var(--spacing-1);
  padding: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  font-style: normal;
  line-height: var(--line-height-md);
  color: var(--color-text-primary);
}

.title {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-2xl);
  font-style: normal;
  line-height: var(--line-height-2xl);
  color: var(--color-text-primary);
}

.placeholderImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  margin-top: var(--spacing-1);
}

.refreshButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: var(--spacing-2);
}

.carousel {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.carouselContainer {
  display: flex;
  justify-content: center;
  gap: var(--spacing-5);
  padding: 0 var(--spacing-5);
  box-sizing: border-box;
  min-width: fit-content;
}

@media (max-width: 640px) {
  .carouselContainer {
    gap: var(--spacing-3);
  }
}
