.toggle {
  flex-shrink: 0;
  transition: opacity 0.2s;
  cursor: pointer;
  width: 36px;
  height: 20px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  padding: 2px;
  box-sizing: border-box;
}

.toggle:hover {
  opacity: 0.9;
}

/* Toggle On State */
.toggleOn {
  justify-content: flex-end;
  background-color: var(--color-text-primary);
  border: 1px solid var(--color-text-primary);
}

.backgroundShadow {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background-color: var(--color-background-primary);
  border-radius: 9999px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
}

/* Toggle Off State */
.toggleOff {
  justify-content: flex-start;
  background-color: var(--color-border-secondary);
  border: 1px solid var(--color-border-secondary);
}

.toggleOff:hover {
  opacity: 0.8;
}
